*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    
    --dark-cyan: hsl(185,75%,39%);
    --dark-blue: hsl(229,23%,23%);
    --dark-grayish: hsl(227,10%,46%);
    --dark-gray:hsl(0,0%, 59%);
    
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 62.5%;
}

body{
    background-color: var(--dark-cyan);

}

.container{ 
    margin: 0 auto;
    max-width: 1400px;
    
}

.card-holder{
    border-radius: 15px;
    background: #fff url(./images/bg-pattern-card.svg) no-repeat;
    margin: 0 auto;
    margin-top: 10em;
    width: 88.5%;
    text-align: center;
}




.profile-picture img{
    margin-top: 9em;
    border: solid 5px white;
    border-radius: 50px;
    max-width: 35%;
    margin-bottom: 1.5em;
}

.profile-info{
    background-color: white;
    line-height: 2em;
    padding-bottom: 1.5em;
}

.profile-info p{
    color: var(--dark-blue);
    font-size: 1.7em;
    font-weight: bolder;
    padding-bottom: .4em;
}

#age {
    color: var(--dark-gray);
    font-weight: lighter;
}

#city{
    font-size: 1.2em;
    color: var(--dark-blue);
}

.stats{
    border-top: 1px solid gainsboro;
}

@media (min-width: 1025px) {

    .card-holder{
        border-radius: 15px;
    }
    
}